<h1>(自分の題名)</h1>
<h3>新規投稿ページ</h3>
<%= form_for @group do |f| %>

# データ型がstringで自由記述の入力フォーム
  <div class="field">
    <%= f.label :group_name %>
    <%= f.text_field :group_name, :size => 30 %>
  </div>

# データ型がstringで選択式の入力フォーム
  <div class="field">
    <%= f.label :address  %>
    <%= f.select :address, 
    [["A", "A"], 
    ["B", "B"], 
    ["C", "C"]], include_blank: "選択して下さい" %>
  </div>

# データ型がstringで選択式の入力フォーム
  <div class="field">
    <%= f.label :animal  %>
    <%= f.select :animal, 
    [["A", "A"], 
    ["B", "B"], 
    ["C", "C"]], include_blank: "選択して下さい" %>
  </div>

  # データ型がstringで選択式の入力フォーム
  <div class="field">
    <%= f.label :scale  %>
    <%= f.select :scale, 
    [["A", "A"], 
    ["B", "B"], 
    ["C", "C"]], include_blank: "選択して下さい" %>
  </div>

  # データ型がtextで自由記述の入力フォーム
  <div class="field">
    <%= f.label :about  %>
    <%= f.text_area :about, :size => "30x2" %>
  </div>
  
  <div class="field">
  <%= f.label :image %>
  <%= f.file_field :image %>
</div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", groups_path %>