<style>
  body {
    font-family: 'Limelight', sans-serif;
    background-color: #EEF9FF;
    color: #665635;
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    background-color: #C6E6F0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  h3 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    color: #665635;
    justify-content: center;
  }

  .right-section {
    margin-left: auto;
    text-align: right;
    padding-right: 20px; /* Adjust the padding as needed */
  }

  .container {
    display: flex;
    justify-content: space-between; /* Distribute space between child elements */
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 50px; /* Adjust margin as needed */
  }

  .group-details {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    justify-content: flex-start;
    background-color: <%= ['#DDEEAA', '#DDDDFF', '#FCECEA', '#FFFFDD'].sample %>;
  }

  .edit-section {
    margin-left: 350px;
  }

  .back-section {
    text-align: center;
  }

  .group-details img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  fa-heart {
    color: #FF8E8A;
  }

  .favorites-count {
    margin-left: 5px;
  }

  .user-messages {
    width: 250px; /* Adjust the width as needed */
    margin-left: 20px; /* Add margin between group-details and user-messages */
    margin-right: 300px;
  }

  .right-section h3 {
    text-align: right; /* Align the header to the left */
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-" crossorigin="anonymous" />
</head>

<body>
  <br>
  <br>
  <h1>動物愛護団体 詳細ページ</h1>

  <div class="container">
    <div class="group-details">
      <%= image_tag @group.image_url, size: "250x200" if @group.image? %>
      <h4><p><%= @group.group_name %></p></h4>
      <p><%= @group.address %></p>
      <p><%= @group.scale %></p>
      <p><%= @group.animal %></p>
      <p><%= @group.about %></p>

      <!-- いいねボタン -->
      <% if user_signed_in? %>
        <div class="like-section">
          <% if current_user.already_favorited?(@group) %>
            <%= link_to group_favorite_path(id: @group.id, group_id: @group.id), method: :delete do %>
              <i class="far fa-heart"></i>
              <span class="favorites-count"><%= @group.favorites.count %></span>
            <% end %>
          <% else %>
            <%= link_to group_favorites_path(id: @group.id, group_id: @group.id), method: :post do %>
              <i class="far fa-heart"></i>
              <span class="favorites-count"><%= @group.favorites.count %></span>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="like-section">
          <i class="far fa-heart"></i> <%= @group.favorites.count %> いいね
          <p>いいねの数 = <%= @group.favorites.count %></p>
        </div>
      <% end %>
    </div>

    <div class="user-messages">
      <h3>いいねしたユーザー</h3>
      <% @group.favorited_users.each do |user| %>
        <li><%= user.email %></li>
      <% end %>
      <br>
      <br>
      <!-- コメントセクション -->
      <h3>コメント一覧</h3>
      <% if @messages.present? %>
        <% @messages.each do |c| %>
          <div>
            <%= c.user.email unless c.user.blank? %>
            <br>
            <%= c.content %>
          </div>
          <br>
        <% end %>
      <% end %>

      <% if user_signed_in? %>
      <%= form_with(model: [@group, @message], local: true) do |f| %>
        <%= f.text_area :content %>
        <%= button_tag type: "submit" do %>
          <i class="far fa-messages"></i> コメントする
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>


  <br>
  <br>

  <div class="back-section">
  <%= link_to "一覧に戻る", groups_path, class: "back-link" %>
  </div>
