<style>
  body {
    font-family: 'Limelight', sans-serif;
    background-color: #EEF9FF;
    color: #665635;
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    background-color: #C6E6F0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  h3 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    color: #665635;
    justify-content: center;
    
  }

  .right-section {
    margin-left: auto;
    text-align: right;
    padding-right: 20px; /* Adjust the padding as needed */
  }

  .container {
    display: flex;
    justify-content: space-between; /* Distribute space between child elements */
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 50px; /* Adjust margin as needed */
    
  }

  .lost-details {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    justify-content: flex-start;
    background-color: <%= ['#DDEEAA', '#DDDDFF', '#FCECEA', '#FFFFDD'].sample %>;
  }

  .edit-section {
    margin-left: 350px;
  }

  .back-section {
    text-align: center;
  }

  .lost-details img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  fa-heart {
    color: #FF8E8A;
  }

  .likes-count {
    margin-left: 5px;
  }

  .user-comments {
    width: 250px; /* Adjust the width as needed */
    margin-left: 20px; /* Add margin between lost-details and user-comments */
    margin-right: 300px;
  }

  .right-section h3 {
    text-align: right; /* Align the header to the left */
  }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-" crossorigin="anonymous" />

</head>

<body>
  <br>
  <br>
  <h1>迷子の動物 詳細ページ</h1>

  <div class="container">
    <div class="lost-details">
      <%= image_tag @lost.image_url, size: "250x200" if @lost.image? %>
      <h4><%= @lost.animal_name %></h4>
      <p><%= @lost.genre %></p>
      <p><%= @lost.color %></p>
      <p><%= @lost.about %></p>

      <!-- いいねボタン -->
      <% if user_signed_in? %>
        <div class="like-section">
          <% if current_user.already_liked?(@lost) %>
            <%= link_to lost_like_path(id: @lost.id, lost_id: @lost.id), method: :delete do %>
              <i class="far fa-heart"></i>
              <span class="likes-count"><%= @lost.likes.count %></span>
            <% end %>
          <% else %>
            <%= link_to lost_likes_path(id: @lost.id, lost_id: @lost.id), method: :post do %>
              <i class="far fa-heart"></i>
              <span class="likes-count"><%= @lost.likes.count %></span>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="like-section">
          <i class="far fa-heart"></i> <%= @lost.likes.count %> いいね
          <p>いいねの数 = <%= @lost.likes.count %></p>
        </div>
      <% end %>
    </div>

    <div class="user-comments">
      <h3>いいねしたユーザー</h3>
      <% @lost.liked_users.each do |user| %>
        <li><%= user.email %></li>
      <% end %>
      <br>
      <br>
      <!-- コメントセクション -->
      <h3>コメント一覧</h3>
      <% if @comments.present? %>
        <% @comments.each do |c| %>
          <div>
            <%= c.user.email unless c.user.blank? %>
            <br>
            <%= c.content %>
          </div>
          <br>
        <% end %>
      <% end %>

      <% if user_signed_in? %>
      <%= form_with(model: [@lost, @comment], local: true) do |f| %>
        <%= f.text_area :content %>
        <%= button_tag type: "submit" do %>
          <i class="far fa-comments"></i> コメントする
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>


  <br>
  <div class="back-section">
  <%= link_to "一覧に戻る", losts_path, class: "back-link" %>
  </div>


</body>
</html>
